*{
	margin: 0;
	padding: 0;
}
body {
    background: url("../images/bg.jpg") repeat scroll 0 0 #080E24;
    color: #626668;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#wrapper {
    min-width: 950px;
    margin: 0 auto;
    width: 960px;
}

header{
	text-align:center;
}
header h1{
	color: #EEE5A2;
    font-size: 63px;
    line-height: 1;
    text-shadow: 5px 5px #32312B;
    text-transform: uppercase;
	font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Helvetica Neue","Helvetica","Sans-serif";
}
header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
	text-decoration: none;
}
header p{
	color: #6A695F;
    font-size: 24px;
    margin: 0 0 10px;
}

section {
    position: relative;
	display:block;
}
section h2{
	color:#AA0088;
}
#canvas{
    -moz-border-radius: 10px 10px 10px 10px;
	display:block;
	margin: 0px auto;
}

#sidebar {
    margin-right: 0;
    width: 235px;
    float: right;
    font-size: 110%;
    position: relative;
}

#connect.sub-feature {
/*-moz-box-shadow: none;*/
    border-color: transparent;
    min-height: 172px;
    position: relative;
    -moz-border-radius: 6px 6px 6px 6px;
    border: 1px solid #CDCDCD;
    margin: 0 0 15px;
    padding: 10px 15px 17px;
    width: 200px;
}

.sub-feature h3 {
    font-size: 20px;
    color: gray;
    letter-spacing: -0.01em;
    line-height: 1.1;
    margin: 0;
}

ul.link {
    left: 0;
    margin: 0;
    padding: 0;
}

ul.link li {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset; /*background: -moz-linear-gradient(center top, #FFFFFF 50%, #FCFCFC 0%) repeat scroll 0 0 #FFFFFF;*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 24px;
    margin: 10px 0 0;
    padding: 0;
    list-style: none outside none;
}

li{
	margin: 0 0 0 20px;
	font-family:arial,sans-serif;
}
li strong{
	color:#005C9C;
	
}
ul.users li{
	display:inline;
	color:#0088bb;
}
#sub-links {
    clear: both;
    font-family: MetaWebPro-Book, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #EEE5A2;
}

a:link, a:visited, a:hover, a:active {
    color: #EEE5A2;
    text-decoration: underline;
}